<div class="footer">
    <div class="inner_footer">
        <div class="copyright_container">
            <h4>
                Copyright &copy;TechLab 2022
            </h4>
        </div>

        <div class="credits_container">
            <h4>
                Created By @Vaibhav Nikas
            </h4>
        </div>
    </div>
</div>