<link rel="stylesheet" href="<%= assetPath('css/create_project.css') %>">

<div id="form-container">
    &nbsp;
    <form action="/project/create" id="main" method="POST">
        <h2>Create Project</h2>

        <div class="input-parent">
            <label for="name">Project Name</label>
            <input type="text" name="name" placeholder="Project Name" id="name" required>
        </div>

        <div class="input-parent">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="Author" id="author" required>
        </div>
        
        <div class="input-parent">
            <label for="description">Description</label>
            <textarea name="description" placeholder="Description" id="description" cols="46" rows="5" required></textarea>
        </div>

        <button type="submit">Create Project</button>
    </form>
</div>