    <link rel="stylesheet" href="/css/home.css">

    <h3><a href="/project">Create a Project</a></h3>

    <ul>
        <%for(let project of projects){%>
            <li>
                <a href="/project/<%= project.id %>">
                    <p><%= project.name %></p>
                    <p><%= project.author %></p>
                    <p><%= project.description %></p>
                </a>
            </li>
        <%}%>
    </ul>