<link rel="stylesheet" href="<%= assetPath('css/sign_up.css') %>">

<div id="form-container">
    &nbsp;
    <form action="/users/create" id="main" method="POST">
        <h2>Create new account</h2>

        <h6>Already have an account? <a href="/users/sign-in">Sign In</a></h6>

        <div class="input-parent">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name" id="name" required>
        </div>

        <div class="input-parent">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" id="email" required>
        </div>

        <div class="input-parent">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>

        <div class="input-parent">
            <label for="confirmPassword">Password</label>
            <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirmPassword" required>
        </div>

        <button type="submit">Sign Up</button>

        <h6>By signing up I agree to the <a href="#">terms and conditions</a> and <a href="#">privacy policy</a></h6>
    </form>
</div>