<link rel="stylesheet" href="/css/sign_in.css">


<div id="form-container">
    &nbsp;
    <form action="/users/create-session" id="main" method="POST">
        <h2>Login to your account</h2>
        <h6>Hi, Welcome back !</h6>
        <div class="input-parent">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" id="email" required>
        </div>

        <div class="input-parent">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>
        
        <button type="submit">Login</button>

        <h6>Don't have an account? <a href="/users/sign-up">Sign Up</a></h6>
    </form>
</div>