#form-container {
  background-color: #eeeeee;
  height: 100%; }
  #form-container #main {
    width: max-content;
    margin: 140px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px 28px;
    background-color: #282828;
    border-radius: 7px;
    border: 1px solid #302d2d; }
    #form-container #main h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      color: #e7e7e7; }
    #form-container #main .input-parent {
      display: block;
      margin-bottom: 20px;
      width: 18vw; }
      #form-container #main .input-parent label {
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
        color: #a4a4a4; }
      #form-container #main .input-parent input {
        padding: 10px 8px;
        width: 100%;
        font-size: 16px;
        background: #323131;
        border: none;
        color: #c7c7c7;
        border-radius: 4px;
        outline: none; }
        #form-container #main .input-parent input:hover {
          background: #404040; }
        #form-container #main .input-parent input:focus {
          box-shadow: 0px 0px 0px 1px #06d6a0; }
    #form-container #main button {
      padding: 10px 18px;
      font-size: 15px;
      background: #74c69d;
      width: 100%;
      border: none;
      border-radius: 4px;
      color: #151515; }
      #form-container #main button:hover {
        opacity: 0.9; }
      #form-container #main button:focus {
        box-shadow: 0px 0px 0px 3px black; }
    #form-container #main h6 {
      color: #f4f4f4;
      text-align: center; }
      #form-container #main h6:first-of-type {
        margin-bottom: 20px; }
      #form-container #main h6:last-of-type {
        margin-top: 20px; }
      #form-container #main h6 a {
        color: #06d6a0; }
